<div class="px-[30px] py-6">
  <div class="flex items-center justify-start gap-[15px]">
    <img
      src="assets/icons/arrow-left.svg"
      alt="Left arrow icon"
      class="size-[18px] cursor-pointer"
    />
    <h1 class="text-[22px] font-semibold leading-[39px]">Discover</h1>
  </div>

  <div
    class="mt-[22px] size-full overflow-x-auto rounded-[15px] bg-white drop-shadow-[0_0_30px_rgba(0,0,0,0.05)]"
  >
    <div class="px-[30px] pb-[20px] pt-[30px]">
      <app-ml-search-input [(search)]="search" />
    </div>
    @if (stocksLive$ | async; as stocks) {
      <app-ml-table [stocks]="stocks" (rowClick)="selectedStock.set($event)" />
    } @else {
      <!-- <app-ml-loading /> -->
    }
  </div>
</div>

<app-stock-dialog [(stock)]="selectedStock" />
