<table class="size-full table-auto">
  <thead>
    <tr
      class="border-y border-y-[rgb(var(--color-table-border))] bg-[rgb(var(--color-table-header))]"
    >
      <th
        class="text-gray-text px-[30px] py-[15px] text-start text-sm font-semibold"
      >
        Name
      </th>
      <th
        class="text-gray-text px-[30px] py-[15px] text-start text-sm font-semibold"
      >
        Change Today
      </th>
      <th
        class="text-gray-text px-[30px] py-[15px] text-start text-sm font-semibold"
      >
        Price
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="px-[30px] py-[13px]">
        <div class="flex gap-[15px]">
          <div class="relative size-[37px]">
            <img
              src="assets/images/vanguard.png"
              alt="Vanguard logo"
              class="absolute size-full object-contain"
            />
          </div>

          <div>
            <p class="font-medium leading-[21px]">Vanguard S&P 500 Etf</p>
            <span class="text-gray-text text-sm font-medium leading-[16px]"
              >VOO</span
            >
          </div>
        </div>
      </td>

      <td class="px-[30px] py-[13px]">
        <p class="text-success text-sm font-semibold leading-[17px]">
          {{ 2.62 | currency }}
        </p>
        <span class="text-success text-xs font-semibold leading-[15px]"
          >(+{{ 0.0057 | percent: "1.0-2" }})</span
        >
      </td>

      <td class="px-[30px] py-[13px]">
        <p class="text-gray-text text-sm font-semibold leading-[17px]">
          {{ 462.61 | currency }}
        </p>
      </td>

      <td class="px-[30px] py-[13px]">
        <div class="flex h-[38px] gap-[15px]">
          <app-ml-button variant="buy">Buy</app-ml-button>
          <app-ml-button variant="sell">Sell</app-ml-button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
